<Router AppAssembly="typeof(Program).Assembly"
        AdditionalAssemblies="new[] { typeof(NigerianPrimarySchool.Web.Client._Imports).Assembly }">
    <Found Context="routeData">
        <AuthorizeRouteView RouteData="routeData" DefaultLayout="typeof(Layout.MainLayout)">
            <NotAuthorized>
                @if (context.User.Identity?.IsAuthenticated != true)
                {
                    <RedirectToLogin />
                }
                else
                {
                    <AccessDenied />
                }
            </NotAuthorized>
        </AuthorizeRouteView>
        <FocusOnNavigate RouteData="routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Not Found</PageTitle>
        <LayoutView Layout="typeof(Layout.MainLayout)">
            <p class="nps-error-msg">Sorry, the page you requested could not be found.</p>
        </LayoutView>
    </NotFound>
</Router>
